
/* this is for navbar active button , after setup all router then active this  */

header > div > div > ul > a,
header > div > header > div > ul > a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: #ECF0EE;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header > div > div > ul > a.active,
header > div > header > div > ul > a.active {
  color: #ECF0EE;
}


 
a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 7px;
  width: 0;
  height: 1px;
  background: #effbfa;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-50%);
}


header > div > div > ul > a:hover::after,
header > div > header > div > ul > a:hover::after,
a.active::after {
  width: 100%;
}

